<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>Cavicchioli vue dischi bonus</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Signika&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="app">
      <header>
        <div class="logoDiv">
          <img src="logo.png">
        </div>

      </header>
      <main>
        <div class="contenitore">
          <div class="selectGenre">
            <select v-model="genereSelezionato">
              <!-- la prima opzione è quella di default nel quale il genere selezionato è vuoto e poi si vorrà fare in modo che quando sia così vengano mostrati tutti gli album -->
              <option value="">Tutta la musica del Mondo</option>
              <!-- con la seconda opzione in v for, si vuole generare una serie di opzioni, una per ogni genere musicale.
              questi generi vengono presi da albumList(dove sono volori dei singoli album) e messi in arrayGeneri senza ripetersi piu di una volta(vari album hanno lo stesso valore di genre). -->
              <option v-for="genre in arrayGeneri" :value="genre">{{genre}}</option>
            </select>
          </div>

          <ul>
            <!-- con il v-for ciclo gli elementi(album) all'interno dell'array (albumList) -->
            <!--
              con il v-if invece scelgo le condizioni per mostrare gli album.

              la prima permette di mostrare gli album in albumList con album.genere uguale al genre legato all'opzione corrispondente

              la seconda,ha :value=genereSelezionato di default, e sempre di default(vedi data:) genereSelezionato è vuoto
              quando ci sono queste condizioni, vengono mostrati tutti gli album in albumList
            -->
            <li v-for="album in albumList" v-if="(album.genre === genereSelezionato || '' === genereSelezionato)">
              <div class="img">
                <img :src="album.poster">
              </div>
              <div class="title white">
                {{album.title}}
              </div>
              <div class="autor grey">
                {{album.author}}
              </div>
              <div class="year grey">
                {{album.year}}
              </div>
            </li>
          </ul>

        </div>

      </main>
    </div>

    <script type="text/javascript" src="js/script.js"></script>
  </body>
</html>
